<div class="buttonArea">
    <a id="addBoard" data-role="button" href="#createBoard" data-icon="compose">add new board</a>
</div>

<ul data-role="listview"  data-type="group">
    <li>Boards
         <ul id="categoriesListView" data-role="listview" data-template="list-template" data-bind="source: boards">
         </ul>
    </li>
</ul>      

<script id="list-template" type="text/x-kendo-template">
    <a href='\###board?boardName=#: Title #'><strong>#: Title #</strong></a><a delete-element='#: Title #' data-click="deleteBoard" data-role="detailbutton" data-style="rowdelete"></a>
</script>

<script>
  kendo.bind($("#boards"),boardsViewModel);
</script>