<h1 id='boardTitle'>Board</h1>
<div id="boardSurface" data-role="scrollview" data-style="inset" data-type="group" 
    data-bind="source: tables" data-template="tables-template">
</div>

<script>
    function renderCardTemplate(data) {
        if(data != null)
            return kendo.Template.compile($('#cards-template').html())(data);

        return '';
    }
</script>
 
<script id="cards-template" type="text/x-kendo-template">
    <div class='topHidden'></div>
    # $.each(data.cards, function (index, item) { 
    # <a class='hide'>Test</a> #

    # <a id='a${item.id}' data-role="button" ontouchstart='onHoldBtn(this,#: item.id #)' class='clear-timeout'><p id='${item.id}' class='draggable table-col'>${item.name}</p></a>  #                        

      }); 
    #
    <a class='hide'>Test</a>
</script>

<script id="tables-template" type="text/x-kendo-template">
    <div data-role="page">
        <div class="div-table">
            <div class="div-table-caption" >
                <h3 class='board-title'>${title}</h3>
                <a id='test' data-role="button" data-icon="compose" href='\#addCard?table=${title}' class="km-button board-new-card">Add card</a>
            </div>
            <ul data-role="listview">
                 #= renderCardTemplate(data) #
            </ul> 
        </div>
    </div>
</script>