<h1>Card details</h1>
<div id='createBoardDiv'>
    <label for="txtCardName" style="display: inline-block;">Card name:</label>
    <input type="text" id="txtCardName"  data-bind="value: cardName" class='inputCredentials'/>
    
    <label for="txtCardDetails" style="display: inline-block;">Details 1:</label>
    <input type="text" id="txtCardDetails"  data-bind="value: cardDetails1" class='inputCredentials'/>
    
    <label for="txtCardDetails2" style="display: inline-block;">Details 2:</label>
    <input type="text" id="txtCardDetails2"  data-bind="value: cardDetails2" class='inputCredentials'/>
</div>
<div id='outputDiv2' style="display:block;"></div>

<div class="buttonArea">
    <a id="createBoardButton" data-role="button" data-click="" data-icon="compose">Update</a>
</div>   