 <h1>Create board</h1>
<div id='createBoardDiv'>
    <label for="txtBoardTitle" style="display: inline-block;">Title:</label><input type="text" id="txtBoardTitle" class='inputCredentials'/>
</div>
<div id='outputDiv2' style="display:block;"></div>

<div class="buttonArea">
    <a id="createBoardButton" data-role="button" data-click="createBoard" data-icon="compose">Create</a>
</div>   