<h1>Register page:</h1>
<div id='loginInputRegister' class='defaultForm'>
    <div>
        <label for="txtNameRegister" style="display: inline-block;">Name:</label>
        <input type="text" id="txtNameRegister" data-bind="value: name" class='inputCredentials'/>
    </div>
    <div>
        <label for="txtEmailRegister" style="display: inline-block;">Email:</label>
        <input type="text" id="txtEmailRegister" data-bind="value: email" class='inputCredentials'/>
    </div>
    <div>
        <label for="txtPasswordRegister" style="display: inline-block;">Password:</label>
        <input type="text" id=http://app.icenium.com/Mist/Workspace/personalKanban.Mobile/MobileSimulator/iPhone5/2.2.0/6.0/personalKanban.Mobile/index.html#:back"txtPasswordRegister" data-bind="value: password" class='inputCredentials'/>
    </div>
</div>
<div id='outputDiv2' style="display:block;"></div>

<div class="buttonArea">
    <p id="registerButton" data-role="button" data-click="registerUser" data-icon="compose">Register</p>
</div> 

<script>
  kendo.bind($("#createUser"),loginViewModel);
</script>