<h1>Login in page:</h1>
<div id='loginInput'>
    <label for="txtName" style="display: inline-block;">Name:</label>
    <input type="text" id="txtName" data-bind="value: name" class='inputCredentials'/>
    <label for="txtPassword" style="display: inline-block;">Password:</label>
    <input type="password" id="txtPassword" data-bind="value: password" class='inputCredentials'/>
</div>
 
<div id='outputDiv' style="display:block;"></div>
<div class="buttonArea">
    <a id="submitButton" data-role="button" data-click="login" data-icon="compose">Log in</a>
</div>
   
<label for="signUpButton" style="display: inline-block;">Don't have account? </label>
<a id="signUpButton" data-role="button"  href="#createUser" data-click="signUp" data-icon="compose">Sign up</a>

<script>
      kendo.bind($("#loginPage"),loginViewModel);
</script>