body
{
    font: Arial, sans-serif;
}

.buttonArea,
.footerText
{
    text-align: center;
}
.defaultForm{
    margin-left: 5px;
}
.inputCredentials
{
    border: 1px solid #AAA;
    border-radius: 15px;
    position:static;
    margin-left: 1em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    background:white;
    color: black;
    padding: 7px;
}

#draggable
{
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: 30px;
    border: 1px solid #ff8000;
    width: 78px;
    height: 78px;
    border-radius: 37px;
    box-shadow: 2px 0 10px #9d9d9d;
    background: #ffcc00 url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat;
    background: url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat, -moz-linear-gradient(top, #ffcc00 0%, #ff8000 100%);
    background: url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(100%,#ff8000));
    background: url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat, -webkit-linear-gradient(top, #ffcc00 0%,#ff8000 100%);
    background: url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat, -o-linear-gradient(top, #ffcc00 0%,#ff8000 100%);
    background: url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat, -ms-linear-gradient(top, #ffcc00 0%,#ff8000 100%);
    background: url(../../content/web/dragdrop/draggable.png) 50% 50% no-repeat, linear-gradient(top, #ffcc00 0%,#ff8000 100%);
}
.hide{
    display: none;
}
.shadow{
    
    display: block;
    padding: 20px; 
    border: 1px solid #333;
    background:#333;
    height: 30px;
}
.shadow2{
    background-color:red !important;
}
.topHidden{
        display: block;
    
    border: 1px solid #333;
    background:#000;
    height: 80px;
    padding: 0px; 
    float: left;
    top: 0;
    margin-top: -70px;
    opacity:0;
    width: 100%;
}
#draggable.hollow
{
    cursor: default;
    background: #ececec;
    border-color: #cbcbcb;
}

.board-new-card{
    float: right;
    margin-top: 0.8rem;
    margin-right: 1rem;
    z-index: 10;
}
.board-title{
    float: left;
}


#droptarget
    {
    border: 1px solid #959595;
    height: 198px;
    font-size: 18px;
    border-radius: 37px;
    text-align: center;
    line-height: 198px;
    color: #a1a1a1;
    text-shadow: 0 1px 0 #fff;
    margin: 0 0 30px 215px;
    cursor: default;
    vertical-align: middle;

    background: #dddddd;
    background: -moz-linear-gradient(top, #dddddd 0%, #c1c1c1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#c1c1c1));
    background: -webkit-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
    background: -o-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
    background: -ms-linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
    background: linear-gradient(top, #dddddd 0%,#c1c1c1 100%);
}
        
#board .photo {
    width: 320px;
    margin: 0;
    height: 220px;
    display: inline-block;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.div-table-caption{
    height: 3rem;
}

#scrollview-container {
    margin: 60px 0 1em 0;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
    border-width: 1px 0;
    box-shadow: 0 1px 1px rgba(255,255,255,.3);
}

.div-table{ border:1px solid #333;background::#333; height: 800px;}
.div-table-caption{}
.table-col{padding: 20px; border: 1px solid #333;background:#ccc;height: 30px;}
